<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shineye</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/static/css/templatemo-style.css">
  
</head>

<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="/index">
                    <h1 class="tm-site-title mb-0">Project Shineye</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="fas fa-tachometer-alt"></i>
                                Demo-Dashboard
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-alt"></i>
                                <span>
                                    Reports <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Left Eye Report</a>
                                <a class="dropdown-item" href="#">Right Eye Report</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products">
                                <i class="fas fa-shopping-cart"></i>
                                AI-Diagnose
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/accounts">
                                <i class="far fa-user"></i>
                                Advice
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog"></i>
                                <span>
                                    Settings <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Billing</a>
                                <a class="dropdown-item" href="#">Customize</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="/login">
                                Doctor, <b>Logout</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Welcome back, <b>Doctor</b></p>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row">
              <div class="tm-block-col tm-col-avatar">
                <div class="tm-bg-primary-dark tm-block tm-block-avatar">
                  <h2 class="tm-block-title">Basic Information</h2>
<!--                   <div class="tm-avatar-container">
                    <img
                      src="/static/img/avatar.png"
                      alt="Avatar"
                      class="tm-avatar img-fluid mb-4"
                    />
                    <a href="#" class="tm-avatar-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </div>
                  <button class="btn btn-primary btn-block text-uppercase">
                    Upload New Photo
                  </button> -->
                    <div class="form-group col-lg-6">
                      <label for="name">Name:</label>
                      <label for="name" class="form-control validate">{{ name }}</label>
                    </div>
                    <div class="form-group col-lg-6">
                      <label for="name">Age:</label>
                      <label for="name" class="form-control validate">{{ age }}</label>
                    </div>
                    <div class="form-group col-lg-6">
                      <label for="name">Sex:</label>
                      <label for="name" class="form-control validate">{{ sex }}</label>
                    </div>
                </div>
              </div>
              <div class="tm-block-col tm-col-account-settings">
                <div class="tm-bg-primary-dark tm-block tm-block-settings">
                  <h2 class="tm-block-title">Image Features</h2>
                  <form action="" class="tm-signup-form row">
                    <div class="form-group col-lg-4">
                      <label for="name">Sharpness:</label>
                      <label for="name" class="form-control validate">{% if sharpness.1 %}<b>{% endif %}{{ sharpness.0 | truncatechars:13 }}{% if sharpness.1 %}</b>{% endif %}</label>
                    </div>
                    <div class="form-group col-lg-4">
                      <label for="name">Complexity:</label>
                      <label for="name" class="form-control validate">{% if complexity.1 %}<b>{% endif %}{{ complexity.0 | truncatechars:13 }}{% if complexity.1 %}</b>{% endif %}</label>
                    </div>
                    <div class="form-group col-lg-4">
                      <label for="name">Blob Number:</label>
                      <label for="name" class="form-control validate">{% if blob_number.1 %}<b>{% endif %}{{ blob_number.0 | truncatechars:13 }}{% if blob_number.1 %}</b>{% endif %}</label>
                    </div>
                    <div class="form-group col-lg-4">
                      <label for="name">Blob Square:</label>
                      <label for="name" class="form-control validate">{% if blob_square.1 %}<b>{% endif %}{{ blob_square.0 | truncatechars:13 }}{% if blob_square.1 %}</b>{% endif %}</label>
                    </div>
                    <div class="form-group col-lg-4">
                      <label for="name">VCDR:</label>
                      <label for="name" class="form-control validate">{% if vcdr.1 %}<b>{% endif %}{{ vcdr.0 | truncatechars:13 }}{% if vcdr.1 %}</b>{% endif %}</label>
                    </div>
                    <div class="form-group col-lg-4">
                      <label for="name">Ratio:</label>
                      <label for="name" class="form-control validate">{% if ratio.1 %}<b>{% endif %}{{ ratio.0 | truncatechars:13 }}{% if ratio.1 %}</b>{% endif %}</label>
                    </div> 
                    <div class="form-group col-lg-4">
                      <label for="name">Scale:</label>
                      <label for="name" class="form-control validate">{% if scale.1 %}<b>{% endif %}{{ scale.0 | truncatechars:13 }}{% if scale.1 %}</b>{% endif %}</label>
                    </div>
                    <div class="form-group col-lg-4">
                      <label for="name">Curature:</label>
                      <label for="name" class="form-control validate">{% if curature.1 %}<b>{% endif %}{{ curature.0 | truncatechars:13 }}{% if curature.1 %}</b>{% endif %}</label>
                    </div>
                    <div class="form-group col-lg-4">
                      <label for="name">Vein Lightness:</label>
                      <label for="name" class="form-control validate">{% if vein_lightness.1 %}<b>{% endif %}{{ vein_lightness.0 | truncatechars:13 }}{% if vein_lightness.1 %}</b>{% endif %}</label>
                    </div>
                  </form>
                </div>
            </div>
            <div class="row tm-content-row">
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-settings">
                        <h2 class="tm-block-title">Image Enhance</h2>
                        <form action="" class="tm-signup-form row">
                            <div class="form-group col-lg-3">
                                <img
                                  src="/static/img/origin.jpg"
                                  alt="Avatar"
                                  class="tm-avatar img-fluid mb-4"
                                />
                                <label for="name">ORIGIN</label>
                            </div>
                            <div class="form-group col-lg-3">
                                <img
                                  src="/static/img/clahe.jpg"
                                  alt="Avatar"
                                  class="tm-avatar img-fluid mb-4"
                                />
                                <label for="name">CLAHE</label>
                            </div>
                            <div class="form-group col-lg-3">
                                <img
                                  src="/static/img/veins.jpg"
                                  alt="Avatar"
                                  class="tm-avatar img-fluid mb-4"
                                />
                                <label for="name">VEINS</label>
                            </div>
                            <div class="form-group col-lg-3">
                                <img
                                  src="/static/img/blobs.jpg"
                                  alt="Avatar"
                                  class="tm-avatar img-fluid mb-4"
                                />
                                <label for="name">BLOBS</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Disease Ratio for different age</h2>
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
<!--                 <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Performance</h2>
                        <canvas id="barChart"></canvas> tm-block-taller
                    </div>
                </div> -->
                 <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Male Disease Ratio</h2>
                        <div id="pieChartContainer">
                            <canvas id="pieChart" class="chartjs-render-monitor" width="200" height="200"></canvas>
                        </div>                        
                    </div>
                </div>
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Texture Features</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">DIRECTION</th>
                                    <th scope="col">STEP</th>
                                    <th scope="col">CORRELATION</th>
                                    <th scope="col">HOMOGENEITY</th>
                                    <th scope="col">ASM</th>
                                    <th scope="col">ENERGY</th>
                                    <th scope="col">DISSMILARITY</th>
                                    <th scope="col">CONTRAST</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for direction,dict in texture_dict.items %}
                                <tr>
                                    <th scope="row"><b>{{ direction }}</b></th>
                                    <td>
                                        <div class="tm-status-circle moving">
                                        </div>2
                                    </td>
                                    <td><b>{{ dict.correlation.0 | truncatechars:5}}</b></td>
                                    <td><b>{{ dict.homogeneity.0 | truncatechars:5}}</b></td>
                                    <td><b>{{ dict.ASM.0 | truncatechars:5}}</b></td>
                                    <td><b>{{ dict.energy.0 | truncatechars:5}}</b></td>
                                    <td><b>{{ dict.dissimilarity.0 | truncatechars:5}}</b></td>
                                    <td><b>{{ dict.contrast.0 | truncatechars:10}}</b></td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>{{ direction }}</b></th>
                                    <td>
                                        <div class="tm-status-circle pending">
                                        </div>8
                                    </td>
                                    <td><b>{{ dict.correlation.1 | truncatechars:5}}</b></td>
                                    <td><b>{{ dict.homogeneity.1 | truncatechars:5}}</b></td>
                                    <td><b>{{ dict.ASM.1 | truncatechars:5}}</b></td>
                                    <td><b>{{ dict.energy.1 | truncatechars:5}}</b></td>
                                    <td><b>{{ dict.dissimilarity.1 | truncatechars:5}}</b></td>
                                    <td><b>{{ dict.contrast.1 | truncatechars:10}}</b></td>
                                </tr><tr>
                                    <th scope="row"><b>{{ direction }}</b></th>
                                    <td>
                                        <div class="tm-status-circle cancelled">
                                        </div>16
                                    </td>
                                    <td><b>{{ dict.correlation.2 | truncatechars:5}}</b></td>
                                    <td><b>{{ dict.homogeneity.2 | truncatechars:5}}</b></td>
                                    <td><b>{{ dict.ASM.2 | truncatechars:5}}</b></td>
                                    <td><b>{{ dict.energy.2 | truncatechars:5}}</b></td>
                                    <td><b>{{ dict.dissimilarity.2 | truncatechars:5}}</b></td>
                                    <td><b>{{ dict.contrast.2 | truncatechars:10}}</b></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2020</b> All rights reserved. 
                    
                    Design:  <a href="http://www.work4free.cn/" target="_blank" title="JinhuaSu">RUC Medicine Learning Group</a> - Collect from <a href="http://www.aizhanzhe.com/" title="template" target="_blank">template</a>
                </p>
            </div>
        </footer>
    </div>

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/static/js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="/static/js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
<!--     <script src="/static/js/tooplate-scripts.js"></script> -->
    <script type="text/javascript">
        const width_threshold = 480;
        function drawLineChart() {
          if ($("#lineChart").length) {
            ctxLine = document.getElementById("lineChart").getContext("2d");
            optionsLine = {
              scales: {
                yAxes: [
                  {
                    scaleLabel: {
                      display: true,
                      labelString: "Hits"
                    }
                  }
                ]
              }
            };

            // Set aspect ratio based on window width
            optionsLine.maintainAspectRatio =
              $(window).width() < width_threshold ? false : true;

            configLine = {
              type: "line",
              data: {
                labels: ['正常', '糖尿病', '青光眼', '白内障', 'AMD', '高血压', '近视', '其他'],
                datasets: [
                  {
                    label: "young([0,40])",
                    data: [0.39035087719298206,
  0.29824561403508804,
  0.0482456140350877,
  0.0263157894736842,
  0.0263157894736842,
  0.0175438596491228,
  0.087719298245614,
  0.21052631578947398],
                    fill: false,
                    borderColor: "rgb(75, 192, 192)",
                    cubicInterpolationMode: "monotone",
                    pointRadius: 0
                  },
                  {
                    label: "Middle([41,65])",
                    data: [0.339046822742475,
  0.355351170568562,
  0.0451505016722408,
  0.0380434782608696,
  0.0409698996655518,
  0.0367892976588629,
  0.0376254180602007,
  0.278010033444816],
                    fill: false,
                    borderColor: "rgba(255,99,132,1)",
                    cubicInterpolationMode: "monotone",
                    pointRadius: 0
                  },
                  {
                    label: "Old([66,))",
                    data: [0.272727272727273,
  0.23863636363636398,
  0.10909090909090899,
  0.130681818181818,
  0.0681818181818182,
  0.0125,
  0.0727272727272727,
  0.302272727272727],
                    fill: false,
                    borderColor: "rgba(153, 102, 255, 1)",
                    cubicInterpolationMode: "monotone",
                    pointRadius: 0
                  }
                ]
              },
              options: optionsLine
            };

            lineChart = new Chart(ctxLine, configLine);
          }
        }

//         function drawBarChart() {
//           if ($("#barChart").length) {
//             ctxBar = document.getElementById("barChart").getContext("2d");

//             optionsBar = {
//               responsive: true,
//               scales: {
//                 yAxes: [
//                   {
//                     barPercentage: 0.2,
//                     ticks: {
//                       beginAtZero: true
//                     },
//                     scaleLabel: {
//                       display: true,
//                       labelString: "Hits"
//                     }
//                   }
//                 ]
//               }
//             };

//             optionsBar.maintainAspectRatio =
//               $(window).width() < width_threshold ? false : true;

//             /**
//              * COLOR CODES
//              * Red: #F7604D
//              * Aqua: #4ED6B8
//              * Green: #A8D582
//              * Yellow: #D7D768
//              * Purple: #9D66CC
//              * Orange: #DB9C3F
//              * Blue: #3889FC
//              */

//             configBar = {
//               type: "horizontalBar",
//               data: {
//                 labels: ["Red", "Aqua", "Green", "Yellow", "Purple", "Orange", "Blue"],
//                 datasets: [
//                   {
//                     label: "# of Hits",
//                     data: [33, 40, 28, 49, 58, 38, 44],
//                     backgroundColor: [
//                       "#F7604D",
//                       "#4ED6B8",
//                       "#A8D582",
//                       "#D7D768",
//                       "#9D66CC",
//                       "#DB9C3F",
//                       "#3889FC"
//                     ],
//                     borderWidth: 0
//                   }
//                 ]
//               },
//               options: optionsBar
//             };

//             barChart = new Chart(ctxBar, configBar);
//           }
//         }

        function drawPieChart() {
          if ($("#pieChart").length) {
            var chartHeight = 300;

            $("#pieChartContainer").css("height", chartHeight + "px");

            ctxPie = document.getElementById("pieChart").getContext("2d");

            optionsPie = {
              responsive: true,
              maintainAspectRatio: false,
              layout: {
                padding: {
                  left: 10,
                  right: 10,
                  top: 10,
                  bottom: 10
                }
              },
              legend: {
                position: "top"
              }
            };

            configPie = {
              type: "pie",
              data: {
                datasets: [
                  {
                    data: [0.34111405835543795,
  0.3342175066313,
  0.0663129973474801,
  0.0472148541114058,
  0.046684350132626,
  0.0344827586206897,
  0.0339522546419098,
  0.26472148541114104],
                    backgroundColor: ["#F7604D", "#4ED6B8", "#A8D582","#376F6D", "#9E46B8", "#E825A2","#57D04D", "#7E2638"],
                    label: "Male disease ratio"
                  }
                ],
                labels: ['正常', '糖尿病', '青光眼', '白内障', 'AMD', '高血压', '近视', '其他']
              },
              options: optionsPie
            };

            pieChart = new Chart(ctxPie, configPie);
          }
        }

        function updateLineChart() {
          if (lineChart) {
            lineChart.options = optionsLine;
            lineChart.update();
          }
        }

//         function updateBarChart() {
//           if (barChart) {
//             barChart.options = optionsBar;
//             barChart.update();
//           }
//         }

    </script> 
    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart,
            pieChart;
        //barChart,
        // DOM is ready
        $(function () {
            drawLineChart(); // Line Chart
//             drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart

            $(window).resize(function () {
                updateLineChart();
//                 updateBarChart();                
            });
        })
    </script>
</body>

</html>